*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    margin-top: 50px;
    padding: 10px;
}

div.calculator{
    width: 300px;
    border: 2px solid black;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(213, 86, 86);
}

div.screen{
    border: 2px solid black;
    height: 100px;
    word-wrap: break-word;
    word-break: break-all;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

div.button-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.zeroBtn, #clean{
    grid-column: 1/span 2;
}

.equalBtn{
    grid-column: 4/5;
    grid-row: 4/6;
    padding-bottom: 0;
}

.btn, #cleanElement,#clean{
    border: 2px solid black;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.lastScreen, .currentScreen{
    text-align: right;
    height: 45px;
}

.lastScreen{
    font-size: 15px;
}
.currentScreen{
    font-size: 25px;
    font-weight: bold;
}

#clean:hover{
    background-color: rgb(33, 226, 75);
    color: #fff;
}

.opeator:hover, .equalBtn:hover{
    background-color: rgb(40, 41, 40);
    color: #fff;
}

#decimal:hover{
    background-color: rgb(202, 96, 219);
    color: #fff;
}

.number:hover{
    background-color: rgb(247, 3, 3);
    color: #fff;
}

footer{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(213, 86, 86);
    border-radius: 10px;
    font-weight: bold;
}

footer > p > a{
    text-decoration: none;
    color: #fff;
}